h1 {
    
    font-size: 5em;
    color: #2c09f1;
    text-align: center;
    margin-top: 10px
}

h2 {
    
    font-size: 20px;     
    color: #1a0c7d;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

p {
    font-size: 1;
    color: #000000;
    margin: 20px auto;
    width: 80%;
    line-height: 1.6;
    border: #2004fa 2px solid;
    padding:5px;
}

table {
    width: 100px;
    margin: 20px auto;      
    border-collapse: collapse;
    border-color: #1a0c7d
    
}

h3 {
    font-size: 2em;
    color: #0509f8;
    text-align: center;
    margin-top: 20px;
}

fieldset {
    border: 2px solid #015aff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
}
a {
    color: #0000ff;
    text-decoration: none;
    font-size: 1.2em;
}
a:hover {
    color: #ff0000;
    text-decoration: underline;
    text-align: center;
}
div {
    margin: 20px auto;
    width: 300px;
    padding: 150px;
}
div.cabecalho {
    font-size: 2em;
    color: #2004fa;
    margin-top: 15px;
}
.cabecalho {
  position: relative;   /* referencia para o botão */
  display: inline-block;
}

.cabecalho img {
  width: 100%;   /* ajusta a imagem */
  height: auto;
}

.cabecalho .btn {
  position: absolute;
  top: 50%;        /* centraliza vertical */
  left: 50%;       /* centraliza horizontal */
  transform: translate(-50%, -50%); /* ajuste do centro */
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.cabecalho .btn:hover {
  background-color: #ff3300;
}
nav {   
    background-color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    border: #015aff 2px solid;
    overflow: hidden;
}
nav ul li {
    float: left;
    clear: both;
    margin-right: 20px;
}
nav ul li a {
    display: block;
    color: #000000;
    padding: 2px 2px;
    text-decoration: none;
}
 nav ul li a:hover {
    background-color: #015aff;
    color: #ffffff;
 }

textarea {
    width: 80%;
    height: 100px;
    margin: 20px auto;
    display: block;
    font-size: 1.2em;
}
label {
    font-size: 1.5em;
    color: #000000;
    display: block;
    margin-top: 10px;
    text-align: center;
}   
.snippet {
    border: 2px solid #2004fa;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    background-color: #f0f8ff;
}

/*   07/08/2025    */