h1 {
    font-size: 5em;
    color: #2c09f1;
    text-align: center;
    margin-top: 10px
}

h2 {
    font-size: 20px !important;         
    color: #1a0c7d;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

a {
    font-size: 2em;
    color: #2004fa;
    margin-top: 15px;
}

img {
    float: left;
    margin-right: 10px; 

}
p {
    font-size: 1;
    color: #000000;
    text-align: justify;
    margin: 20px auto;
    width: 80%;
    line-height: 1.6;
    border: #2004fa 2px solid;
    padding:5px;
}

table {
    width: 100px;
    margin: 20px auto;      
    border-collapse: collapse;
    border-color: #1a0c7d
    
}

h3 {
    font-size: 2em;
    color: #0509f8;
    text-align: center;
    margin-top: 20px;
}

fieldset {
    border: 2px solid #015aff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
    text-align: center;
}




div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;    
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
        
}
textarea {
    width: 80%;
    height: 100px;
    margin: 20px auto;
    display: block;
    font-size: 1.2em;
}
label {
    font-size: 1.5em;
    color: #000000;
    display: block;
    margin-top: 10px;
    text-align: center;
}   


button {
    font-size: 1.5em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center; 
    display: block;
    margin-left: center;  
}
/*   07/08/2025    */